{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Les {{ commercants|length }} membres de Cap</h3>

        <div class="card-body">

            <div class="alert alert-info">
                S'affiche ici les commerçants ayant la case "membre" cochée et la date d'affiliation non vide.<br />
                <span class="text-warning">Dans cette couleur ceux qui sont expiré</span>
            </div>

            {% include '@CapCommercio/member/_actions.html.twig' %}

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row my-2">
                <div class="col-3">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <button type="submit" name="search" class="btn btn-primary">
                <i class="ti ti-search"></i> Rechercher
            </button>
            {{ form_end(form) }}

            {% include '@CapCommercio/commercant/_list.html.twig' %}

        </div>
    </div>

{% endblock %}
