{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Articles</h3>

        <div class="card-body">

            <div class="alert alert-danger">
                Ne pas diffuser actuellement par ce site, ce n'est pas prêt
            </div>

            <a href="{{ path('cap_blog_post_new') }}" class="btn btn-success my-3">
                <i class="fas fa-plus"></i> Ajouter
            </a>

            <table class="table table-bordered">
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Publié?</th>
                    <th>Publié le</th>
                    <th>Archivé</th>
                </tr>
                {% for post in posts %}
                    <tr>
                        <td>
                            <a href="{{ path('cap_blog_post_show', {'id': post.id}) }}">
                                {{ post.title }}
                            </a>
                        </td>
                        <td>{{ post.author }}</td>
                        <td>
                            {{ post.isOnline ? 'Oui' : 'Non' }}
                        </td>
                        <td>{{ post.publishDate|format_date('full') }}</td>
                        <td>
                            {{ post.archived ? 'Oui' : 'Non' }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

