{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ post.title }}</h3>

        <div class="card-body">

            {% include '@CapCommercio/blog_post/_actions.html.twig' %}

            <div class="text-muted">
                {{ post.summary|nl2br }}
            </div>

            <div class="m-3">
                {{ post.postText|raw }}
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>Publié le</th>
                    <td>
                        {{ post.publishDate|format_date('full') }}
                    </td>
                </tr>
                <tr>
                    <th>Publié ?</th>
                    <td>{{ post.isOnline ? 'oui' : 'non' }} </td>
                </tr>
                <tr>
                    <th>Archivé ?</th>
                    <td>{{ post.archived }} </td>
                </tr>
                <tr>
                    <th>Crée le</th>
                    <td>{{ post.insertDate|format_date('full') }} </td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>
                        {{ post.author.firstname }} {{ post.author.lastname }}
                    </td>
                </tr>
                <tr>
                    <th>Langue</th>
                    <td>
                        {{ post.language }}
                    </td>
                </tr>
                <tr>
                    <th>Media path</th>
                    <td>
                        {{ post.mediaPath }}
                    </td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>
                        {{ post.urlId }}
                    </td>
                </tr>
            </table>

             {{ include('@CapCommercio/blog_post/_tags.html.twig') }}
             {{ include('@CapCommercio/blog_post/_categories.html.twig') }}


            {% if post.mediaPath %}
                <img src="{{ asset(post.mediaPath) }}" alt="img">
            {% endif %}

        </div>
    </div>
    {{ include('@CapCommercio/blog_post/_delete_form.html.twig') }}
{% endblock %}
