{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Horaire jour {{ hour.day }}</h3>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.isRdv) }}
            {{ form_row(form.isClosedAtLunch) }}
            {{ form_row(form.morningStart) }}
            {{ form_row(form.morningEnd) }}
            {{ form_row(form.noonStart) }}
            {{ form_row(form.noonEnd) }}
            <button class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('cap_commercant_show', {'id': commercant.id}) }}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
