{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ bills|length }} factures</h3>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row g-3">
                <div class="col">
                <div class="col">
                    {{ form_row(form.number) }}
                </div>
                    {{ form_row(form.name) }}
                </div>
                <div class="col">
                    {{ form_row(form.year) }}
                </div>
                <div class="col">
                    {{ form_row(form.paid) }}
                </div>
            </div>
            <button type="submit" name="search" class="btn btn-primary mb-3">
                <i class="fa fa-search"></i> Rechercher
            </button>
            {{ form_end(form) }}

            <table class="table table-bordered">
                <tr>
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Montant TVAC</th>
                    <th>Commande</th>
                </tr>
                {% for bill in bills %}
                    <tr>
                        <td>
                            <a href="{{ path('cap_bill_show', {'id': bill.id}) }}">{{ bill.billNumber }}</a>
                        </td>
                        <td>
                            {{ bill.order.orderCommercant.companyName }}
                        </td>
                        <td>{{ bill.insertDate|format_date('full') }}</td>
                        <td>{{ bill.priceVat|format_currency('euro') }}</td>
                        <td>
                            <a href="{{ path('cap_order_show', {'id': bill.order.id}) }}">
                                {{ bill.order.orderNumber }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

