{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Paiement numéro {{ bill.billNumber }}</h3>

        <div class="card-body">

            {% include '@CapCommercio/bill/_actions.html.twig' %}

            <table class="table table-bordered">
                <tr>
                    <th>Ordre de paiement</th>
                    <td>
                        <a href="{{ path('cap_order_show', {'id': order.id}) }}">
                            {{ bill.order.orderNumber }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Montant Tvac</th>
                    <td>{{ bill.priceVat|format_currency('eur') }} </td>
                </tr>
                <tr>
                    <th>Montant Htva</th>
                    <td>{{ bill.priceEvat|format_currency('eur') }} </td>
                </tr>
                <tr>
                    <th>Montant Tva</th>
                    <td>{{ bill.vatAmount|format_currency('eur') }} </td>
                </tr>
                <tr>
                    <th>Tva</th>
                    <td>{{ bill.vat }}%</td>
                </tr>
                <tr>
                    <th>Crée le</th>
                    <td>{{ bill.insertDate|format_date('full') }} </td>
                </tr>
                <tr>
                    <th>Archivé</th>
                    <td>{{ bill.archived }} </td>
                </tr>
            </table>
        </div>
    </div>
    {{ include('@CapCommercio/bill/_delete_form.html.twig') }}
{% endblock %}
