{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Menu</h3>

        <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('cap_commercant_index') }}">Commerçants</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_order_all') }}">Commandes</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_bill_all') }}">Paiements</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_user_index') }}">Users</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_contact') }}">Contacts</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_setting') }}">Settings</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_administrator') }}">Administrators</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
