<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
    <div class="col-auto">
        <a href="{{ path('cap_member_set',{'id':commercant.id}) }}" class="btn btn-primary" role='button'>
            <i class="ti ti-friends"></i>
            Membre Cap ?
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ path('cap_commercant_edit',{'id':commercant.id}) }}" class="btn btn-primary" role='button'>
            <i class="ti ti-pencil"></i>
            Modifier
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ path('cap_gallery_show',{'id':commercant.id}) }}" class="btn btn-primary" role='button'>
            <i class="ti ti-photo-edit"></i>
            Images
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ path('cap_order_new',{'id':commercant.id}) }}" class="btn btn-primary" role='button'
           title="Nouveau bon de commande">
            <i class="ti ti-plus"></i>
            Nouveau Bdc
        </a>
    </div>
    <div class="col-auto">
        {% if commercant.rightAccess %}
            <a href="{{ path('cap_user_show',{'id':commercant.rightAccess.id}) }}" class="btn btn-primary"
               role='button'>
                <i class="ti ti-user"></i>
                Compte utilisateur lié
            </a>
        {% else %}
            <a href="{{ path('cap_user_new',{'id':commercant.id}) }}" class="btn btn-primary"
               role='button'>
                <i class="ti ti-user-plus"></i>
                Créer un compte utilisateur
            </a>
        {% endif %}
    </div>
    {% if urlCap %}
        <div class="col-auto">
            <a href="{{ urlCap }}" class="btn btn-primary" role='button' target="_blank">
                <i class="ti ti-eye"></i>
                Voir sur Cap
            </a>
        </div>
    {% endif %}
    {% if urlBottin %}
        <div class="col-auto">
            <a href="{{ urlBottin }}" class="btn btn-primary" role='button' title="Bottin Marchois" target="_blank">
                <i class="ti ti-book"></i>
                Bottin
            </a>
        </div>
    {% endif %}
    <div class="col-auto">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="ti ti-trash"></i> Supprimer
        </button>
    </div>
</div>

