<table class="table table-bordered mt-3">
    <thead>
    <tr>
        <th></th>
        <th>Société</th>
        <th>Affilié le</th>
        <th>Fiche complète ?</th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for commercant in commercants %}
        <tr class="{% if commercant.isMemberCapExpired %}table-warning{% endif %}">
            <td>
                {% if commercant.profileMediaPath %}
                    <img src="/{{ commercant.profileMediaPath }}" alt=""
                         class="img-thumbnail" style="height: 6rem; width: 6rem; overflow: hidden; object-fit: cover;"/>
                {% else %}
                    <img src="https://cap.marche.be/admin/commercio/resources/defaultProfile2.png" alt=""/>
                {% endif %}
            </td>
            <td>
                <a href="{{ path('cap_commercant_show', {'id': commercant.id}) }}">
                    {{ commercant.legalEntity }}
                </a>
            </td>
            <td>{{ commercant.affiliationDate ? commercant.affiliationDate|format_date('short') : '' }}</td>
            <td class="{% if commercant.complete == false %}text-danger{% endif %}">{{ commercant.complete ? 'Oui' : 'Non' }}</td>
            <td>
                {{ commercant.legalFirstname }}  {{ commercant.legalLastname }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>