<h4 class="text-success">Facture(s)</h4>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Payé ?</th>
        <th>Montant Tvac</th>
    </tr>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>
                <a href="{{ path('cap_order_show', {'id': order.id}) }}">
                    {{ order.modifyDate|format_date('full') }}
                </a>
            </td>
            <td>{{ order.isPaid ? 'Oui' : 'Non' }}</td>
            <td>{{ order.priceVat|format_currency('eur') }}</td>
        </tr>
    {% endfor %}
</table>