{% extends '@CapCommercio/base.html.twig' %}

{% block title %}Membre Commercant{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ commercant.legalEntity }}</h3>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.isMember) }}
            {{ form_row(form.affiliationDate) }}
            {{ form_row(form.sendMailExpired) }}
            <button class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('cap_commercant_show', {'id': commercant.id}) }}" class="btn btn-secondary">
                 <i class="fa fa-arrow-left"></i>    Annuler
            </a>
        </div>
    </div>

{% endblock %}
