{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Multiple paiements pour des bons de commande</h3>

        <div class="card-body">
            <table class="table table-bordered mt-3">
                <tr>
                    <th>Numéro de commande</th>
                    <th>Commerce</th>
                    <th>Au nom de</th>
                    <th>Crée le</th>
                    <th>Montant TVAC</th>
                    <th>Payé ?</th>
                    <th>Paiements</th>
                </tr>
                {% for data in orders %}
                    <tr>
                        <td>
                            <a href="{{ path('cap_order_show', {'id': data.order.id}) }}">
                                {{ data.order.orderNumber }}
                            </a>
                        </td>
                        <td>
                            {{ data.order.orderCommercant.companyName }}
                        </td>
                        <td>
                            {{ data.order.orderCommercant.firstname }} {{ data.order.orderCommercant.lastname }}
                        </td>
                        <td>{{ data.order.insertDate|format_date('full') }}</td>
                        <td>{{ data.order.priceVat|format_currency('euro') }}</td>
                        <td>{{ data.order.isPaid ? 'Oui' : 'Non' }}</td>
                        <td>
                            {% for paiement in data.payments %}
                                <a href="{{ path('cap_bill_show', {'id': paiement.id}) }}">{{ paiement.billNumber }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
