{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Checkup</h3>

        <div class="card-body">

            <div class="alert alert-info">
                Page pour vérifier l'intégrité des données
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('cap_checkup_expired') }}">
                        Membres dont la date d'affiliation a expirée
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_checkup_bill') }}">Factures avec plusieurs paiements</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_checkup_missing_path') }}">Commandes et factures dont le pdf n'est pas
                        accessible</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_checkup_order_without_paid') }}">Factures payées sans paiement dans la db</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_checkup_no_in_obttin') }}">N'existe plus dans le bottin</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
