{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ news.title }}</h3>

        <div class="card-body">

            {% include '@CapCommercio/news/_actions.html.twig' %}

            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Archivé</th>
                            <td>{{ news.archived }}</td>
                        </tr>
                        <tr>
                            <th>Envoyée ?</th>
                            <td>{{ news.isSend }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Envoyé aux non membres</th>
                            <td>{{ news.sendToBottin }}</td>
                        </tr>
                        <tr>
                            <th>Envoyé par mail</th>
                            <td>{{ news.sendByMail }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            {{ news.description|nl2br }}

            {% if news.mediaPath %}
                <img src="{{ asset(news.mediaPath) }}" alt="img">
            {% endif %}

        </div>
    </div>
    {{ include('@CapCommercio/news/_delete_form.html.twig') }}
{% endblock %}
