{% extends '@CapCommercio/base_public.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header text-success">Paiement effectué avec succès pour la commande {{ orderCode }}</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo">
            <br/>
            <div class="row">
                <div class="col-6">
                    <img src="{{ asset('bundles/capcommercio/cap_logo.jpg') }}" alt="logo" style="height: 350px;">
                </div>
                <div class="col-6">
                    <div class="alert alert-info">
                        Merci pour votre paiement<br/>
                        L'équipe Cap sur Marche
                    </div>
                </div>
            </div>

            {% if eventIdCodeEnum.value != 0 %}
                <div class="alert alert-warning my-3">
                    <h4 class="text-info">{{ eventIdCodeEnum.reason }}</h4>
                    {{ eventIdCodeEnum.explanation }}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
