{% extends '@CapCommercio/base_public.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header text-success">Paiement effectué avec succès pour la commande {{ orderCode }}</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo">
            <br/>
            <img src="{{ asset('bundles/capcommercio/cap_logo.jpg') }}" alt="logo" style="height: 350px;">

            <br/>
            <br/>
            <div class="alert alert-info">
                Merci pour votre paiement
            </div>

            <div class="alert alert-warning">
                <h4 class="text-info">{{ eventIdCodeEnum.reason }}</h4>
                {{ eventIdCodeEnum.explanation }}
            </div>

        </div>
    </div>
{% endblock %}
