{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header text-success">Paiement effectué avec succès</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo">

            <br/>
            <br/>

            <table class="table table-bordered">
                <tr>
                    <th>eventId</th>
                    <td>{{ eventId }}</td>
                </tr>
                <tr>
                    <th>transactionId</th>
                    <td>
                        <a href="{{ path('cap_wallet_transaction_retrieve',{'transactionId':transactionId}) }}">
                            {{ transactionId }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Event Id explication</th>
                    <td>
                        {{ eventIdCodeEnum.reason }}<br/>
                        {{ eventIdCodeEnum.explanation }}
                    </td>
                </tr>
                <tr>
                    <th>eci</th>
                    <td>{{ eci }}</td>
                </tr>
                <tr>
                    <th>s</th>
                    <td>{{ s }}</td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}
