<table class="table table-bordered">
    <tr>
        <th>Number</th>
        <th>Montant</th>
        <th>Crée le</th>
        <th>Pdf</th>
    </tr>
    {% for bill in bills %}
        <tr>
            <td>
                <a href="{{ path('cap_bill_show', {'id': bill.id}) }}">
                    {{ bill.billNumber }}
                </a>
            </td>
            <td>{{ bill.priceVat|format_currency('eur') }} </td>
            <td>{{ bill.insertDate|format_date('full') }} </td>
            <td>
                {% if bill.pdfPath != null %}
                    <a href="{{ asset(bill.pdfPath) }}" title="{{ bill.pdfPath }}" target="_blank">
                        <i class="fas fa-download"></i> Télécharger
                    </a>
                {% else %}
                    Pdf non trouvé
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>