{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Orders</h3>

        <div class="card-body">
            1 "Temporaire"
            2 "En cours"
            3 "Traité"
            4 "Archivé"
            5 "Error"
            <table class="table table-bordered">
                <tr>
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Montant TVAC</th>
                    <th>Pdf</th>
                </tr>
                {% for bill in bills %}
                    <tr>
                        <td>
                            {{ bill.billNumber }}
                        </td>
                        <td>
                            {{ bill.order.orderCommercant.companyName }}
                        </td>
                        <td>{{ bill.insertDate|format_date('full') }}</td>
                        <td>{{ bill.priceVat|format_currency('euro') }}</td>
                        <td>{{ bill.pdfPath }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

