{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ payementsOrder|length }} commandes</h3>

        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row g-3">
                <div class="col">
                    {{ form_row(form.name) }}
                </div>
                <div class="col">
                    {{ form_row(form.statut) }}
                </div>
            </div>
            <button type="submit" name="search" class="btn btn-primary">
                <i class="fa fa-search"></i> Rechercher
            </button>
            {{ form_end(form) }}

            <table class="table table-bordered mt-3">
                <tr>
                    <th>Nom</th>
                    <th>Compagny</th>
                    <th>Date</th>
                    <th>Montant TVAC</th>
                    <th>Statut</th>
                </tr>
                {% for order in payementsOrder %}
                    <tr>
                        <td>
                            <a href="{{ path('cap_order_show', {'id': order.id}) }}">
                                {{ order.orderCommercant.firstname }} {{ order.orderCommercant.lastname }}
                            </a>
                        </td>
                        <td>
                            {{ order.orderCommercant.companyName }}
                        </td>
                        <td>{{ order.insertDate|format_date('full') }}</td>
                        <td>{{ order.priceVat|format_currency('euro') }}</td>
                        <td>
                            {{ order.orderStatus.name }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

