{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Payer la commande {{ order.orderNumber }}</h3>

        <div class="card-body">

            <div class="alert alert-info my-3">
                Génèrera une facture
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <button type="submit" name="paid" class="btn btn-primary">
                <i class="fa fa-save"></i> Payer la commande
            </button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer" style="text-align: right;">
            <a href="{{ path('cap_order_show', {'id': order.id}) }}">Annuler</a>
        </div>
    </div>

{% endblock %}
