{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ order.orderNumber }} de {{ orderCommercant.companyName }}</h3>

        <div class="card-body">

            {% include '@CapCommercio/order/_actions.html.twig' %}

            <h4 class="text-success">Facture</h4>
            {% for bill in bills %}
                <table class="table table-bordered">
                    <tr>
                        <th>Order</th>
                        <td>{{ bill.order.orderNumber }} </td>
                    </tr>
                    <tr>
                        <th>Montant</th>
                        <td>{{ bill.priceVat|format_currency('eur') }} </td>
                    </tr>
                    <tr>
                        <th>Pdf</th>
                        <td>
                            <a href="{{ asset(bill.pdfPath) }}">
                                <i class="fas fa-download"></i> {{ bill.pdfPath }}
                            </a>
                        </td>
                    </tr>
                </table>
            {% else %}
                <p>Aucune</p>
            {% endfor %}

            <h4 class="text-success">Détail</h4>
            {% for line in lines %}
                <table class="table table-bordered">
                    <tr>
                        <th>Order</th>
                        <td>{{ line.order.orderNumber }}</td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td>{{ line.label }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ line.totalPriceEvat|format_currency('euro') }}</td>
                    </tr>
                </table>
            {% endfor %}

            <h4 class="text-success">Adresse</h4>
            {% for address in addresses %}
                <table class="table table-bordered">
                    <tr>
                        <th>Rue</th>
                        <td>{{ address.city }} {{ address.street1 }}</td>
                    </tr>
                </table>
            {% endfor %}

            <h4 class="text-success">Au nom de</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <td>{{ orderCommercant.firstname }} {{ orderCommercant.lastname }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{ orderCommercant.companyName }}</td>
                </tr>
                <tr>
                    <th>Courriel</th>
                    <td>{{ orderCommercant.email }}</td>
                </tr>
                <tr>
                    <th>Vat</th>
                    <td>{{ orderCommercant.companyVat }}</td>
                </tr>
                <tr>
                    <th>Ajouté le</th>
                    <td>{{ orderCommercant.insertDate|format_date('full') }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ orderCommercant.modifyDate|format_date('full') }}</td>
                </tr>
            </table>

            {% include '@CapCommercio/order/_delete_form.html.twig' %}

        </div>
    </div>
{% endblock %}

