{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Ordre de paiement {{ order.orderNumber }}</h3>

        <div class="card-body">

            {% include '@CapCommercio/order/_actions.html.twig' %}

            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <td>{{ orderCommercant.firstname }} {{ orderCommercant.lastname }}</td>
                </tr>
                <tr>
                    <th>Société</th>
                    <td>{{ orderCommercant.companyName }}</td>
                </tr>
                <tr>
                    <th>Courriel</th>
                    <td>{{ orderCommercant.email }}</td>
                </tr>
                <tr>
                    <th>Numéro de Tva</th>
                    <td>{{ orderCommercant.companyVat }}</td>
                </tr>
                <tr>
                    <th>Label</th>
                    <td>{{ line.label }}</td>
                </tr>
                <tr>
                    <th>Prix TvaH</th>
                    <td>{{ line.totalPriceEvat|format_currency('euro') }}</td>
                </tr>
                <tr>
                    <th>Tva appliqué</th>
                    <td>{{ order.vat }}%</td>
                </tr>
                <tr>
                    <th>Montant de la Tva</th>
                    <td>{{ order.vatAmount|format_currency('euro') }}</td>
                </tr>
                <tr>
                    <th>Prix tva comprise</th>
                    <td>{{ order.priceVat|format_currency('euro') }}</td>
                </tr>
                <tr>
                    <th>Référence</th>
                    <td>{{ line.reference }}</td>
                </tr>
                <tr>
                    <th>Quantité</th>
                    <td>{{ line.quantityLabel }} {{ line.quantity }}</td>
                </tr>
                <tr>
                    <th>Ajouté le</th>
                    <td>{{ orderCommercant.insertDate|format_date('full') }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ orderCommercant.modifyDate|format_date('full') }}</td>
                </tr>
                <tr>
                    <th>Ordre paiement en ligne</th>
                    <td>
                        {% if order.walletCodeOrder %}
                            <a href="{{ path('cap_wallet_order_retrieve',{'orderCode':order.walletCodeOrder}) }}">
                                {{ order.walletCodeOrder }}
                            </a>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
            </table>

            <h4 class="text-success">Adresse</h4>
            {% for address in addresses %}
                <table class="table table-bordered">
                    <tr>
                        <th>Rue</th>
                        <td>
                            {{ address.street1 }} {{ address.street2 }}<br/>
                            {{ address.zipcode }} {{ address.city }}
                        </td>
                    </tr>
                </table>
            {% endfor %}

            <h4 class="text-success">Paiement lié</h4>
            {% if bill %}
                {% include '@CapCommercio/order/_bill_line.html.twig' %}
            {% else %}
                <p>Aucun paiement</p>
            {% endif %}

            {% include '@CapCommercio/order/_paid_form.html.twig' %}
            {% include '@CapCommercio/order/_delete_form.html.twig' %}

        </div>
    </div>
{% endblock %}

