{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Bon de commande {{ order.orderNumber }}</h3>

        <div class="card-body">

            {% include '@CapCommercio/order/_actions.html.twig' %}

            <h4 class="text-success">Facture</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <td>{{ orderCommercant.firstname }} {{ orderCommercant.lastname }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{ orderCommercant.companyName }}</td>
                </tr>
                <tr>
                    <th>Courriel</th>
                    <td>{{ orderCommercant.email }}</td>
                </tr>
                <tr>
                    <th>Vat</th>
                    <td>{{ orderCommercant.companyVat }}</td>
                </tr>
                <tr>
                    <th>Ajouté le</th>
                    <td>{{ orderCommercant.insertDate|format_date('full') }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ orderCommercant.modifyDate|format_date('full') }}</td>
                </tr>
            </table>

            <h4 class="text-success">Paiement</h4>
            {% if bill %}
                {% include '@CapCommercio/order/_bill_line.html.twig' %}
            {% elseif bills|length > 0 %}
                {% for bill in bills %}
                    {% include '@CapCommercio/order/_bill_line.html.twig' %}
                {% endfor %}
                {% else %}
                    <p>Aucun paiement</p>
            {% endif %}

            <h4 class="text-success">Détails</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Label</th>
                    <td>{{ line.label }}</td>
                </tr>
                <tr>
                    <th>Prix TvaH</th>
                    <td>{{ line.totalPriceEvat|format_currency('euro') }}</td>
                </tr>
                <tr>
                    <th>Référence</th>
                    <td>{{ line.reference }}</td>
                </tr>
                <tr>
                    <th>Quantité</th>
                    <td>{{ line.quantityLabel }} {{ line.quantity }}</td>
                </tr>
            </table>

            <h4 class="text-success">Adresse</h4>
            {% for address in addresses %}
                <table class="table table-bordered">
                    <tr>
                        <th>Rue</th>
                        <td>{{ address.city }} {{ address.street1 }}</td>
                    </tr>
                </table>
            {% endfor %}

            {% include '@CapCommercio/order/_paid_form.html.twig' %}
            {% include '@CapCommercio/order/_delete_form.html.twig' %}

        </div>
    </div>
{% endblock %}

