{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ order.orderNumber }} de
            {{ orderCommercant.companyName }}
        </h3>

        <div class="card-body">

            {% include '@CapCommercio/order/_actions.html.twig' %}

            <h4 class="text-success">Facture</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <td>{{ orderCommercant.firstname }} {{ orderCommercant.lastname }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{ orderCommercant.companyName }}</td>
                </tr>
                <tr>
                    <th>Courriel</th>
                    <td>{{ orderCommercant.email }}</td>
                </tr>
                <tr>
                    <th>Vat</th>
                    <td>{{ orderCommercant.companyVat }}</td>
                </tr>
                <tr>
                    <th>Ajouté le</th>
                    <td>{{ orderCommercant.insertDate|format_date('full') }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ orderCommercant.modifyDate|format_date('full') }}</td>
                </tr>
            </table>

            <h4 class="text-success">Paiement</h4>
            {% if bill %}
                <table class="table table-bordered">
                    <tr>
                        <th>Number</th>
                        <td>
                            <a href="{{ path('cap_bill_show', {'id': bill.id}) }}">
                                {{ bill.billNumber }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Montant</th>
                        <td>{{ bill.priceVat|format_currency('eur') }} </td>
                    </tr>
                    <tr>
                        <th>Pdf</th>
                        <td>
                            {% if bill.pdfPath != null %}
                                <a href="{{ asset(bill.pdfPath) }}" title="{{ bill.pdfPath }}" target="_blank">
                                    <i class="fas fa-download"></i> Télécharger
                                </a>
                            {% else %}
                                Pdf non trouvé
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% else %}
                <p>Aucun paiement</p>
            {% endif %}
            {% if bills|length > 0 %}
                <div class="alert alert-danger">
                    <a href="{{ path('cap_checkup_bill') }}">
                        Attention plusieurs paiements pour cette facture
                    </a>
                </div>
                {% include '@CapCommercio/order/_bills.html.twig' %}
            {% endif %}

            <h4 class="text-success">Détails</h4>
            {% for line in lines %}
                <table class="table table-bordered">
                    <tr>
                        <th>Order</th>
                        <td>{{ line.order.orderNumber }}</td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td>{{ line.label }}</td>
                    </tr>
                    <tr>
                        <th>Prix TvaH</th>
                        <td>{{ line.totalPriceEvat|format_currency('euro') }}</td>
                    </tr>
                </table>
            {% endfor %}

            <h4 class="text-success">Adresse</h4>
            {% for address in addresses %}
                <table class="table table-bordered">
                    <tr>
                        <th>Rue</th>
                        <td>{{ address.city }} {{ address.street1 }}</td>
                    </tr>
                </table>
            {% endfor %}

            {% include '@CapCommercio/order/_delete_form.html.twig' %}

        </div>
    </div>
{% endblock %}

