{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ order.orderNumber }}</h3>

        <div class="card-body">

            {% include '@CapCommercio/order/_actions.html.twig' %}
            <table class="table table-bordered">
                <tr>
                    <th>Commercant</th>
                    <td>{{ order.orderCommercant.companyName }}</td>
                </tr>
            </table>

            <h4>Commerçant</h4>
            {{ orderCommercant.companyName }}

            <h4>Lignes</h4>
            {% for line in lines %}
                <table class="table table-bordered">
                    <tr>
                        <th>Order</th>
                        <td>{{ line.order.orderNumber }}</td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td>{{ line.label }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ line.totalPriceEvat|format_currency('euro') }}</td>
                    </tr>
                </table>
            {% endfor %}

            <h4>Addresses</h4>
            {% for address in addresses %}
                <table class="table table-bordered">
                    <tr>
                        <th>Rue</th>
                        <td>{{ address.city }} {{ address.street1 }}</td>
                    </tr>
                </table>
            {% endfor %}

            <h4>Bill</h4>
            {% for bill in bills %}
                <table class="table table-bordered">
                    <tr>
                        <th>Order</th>
                        <td>{{ bill.order.orderNumber }} </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ bill.priceVat }} </td>
                    </tr>
                    <tr>
                        <th>Pdf</th>
                        <td>{{ bill.pdfPath }} </td>
                    </tr>
                </table>
            {% endfor %}


            {% include '@CapCommercio/order/_delete_form.html.twig' %}

        </div>
    </div>
{% endblock %}

