{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Nouveau compte utilisateur pour {{ commercant.legalEntity }}</h3>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password_plain) }}
            <button class="btn btn-primary"><i class="ti ti-device-floppy"></i> Ajouter</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('cap_commercant_show', {'id': commercant.id}) }}" class="btn btn-secondary">
                <i class="ti ti-arrow-left"></i> Annuler
            </a>
        </div>
    </div>
{% endblock %}

