{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Mot de passe de {{ user.email }}</h3>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.password) }}
            <button class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('cap_user_show', {'id': user.id}) }}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
