{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ user.email }}</h3>

        <div class="card-body">

            <table class="table table-bordered">
                <tr>
                    <th>Identifiant</th>
                    <td>{{ user.userIdentifier }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>{{ user.roles|join('') }}</td>
                </tr>
            </table>

            <h4>Gère les commerces</h4>
            <ul class="list-group">
                {% for commercant in commercants %}
                    <li class="list-group-item">
                        <a href="{{ path('cap_commercant_show', {'id': commercant.id}) }}">{{ commercant.legalEntity }}</a>
                    </li>
                {% else %}
                    <li>Aucun</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}